<div class="container">
  <h1 class="title">Bootstrap</h1>
    <nav class="menu">
      <ul class="row">
        <li class="col-md-4">top</li>
        <li class="col-md-4">menu1</li>
        <li class="col-md-4">menu2</li>
      </ul>
    </nav>
    <!-- omit -->
</div>
